1.Schemas/Resources/Schemas/Commons/Context.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:Context="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Models/Context"
	 targetNamespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Models/Context"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Context">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Correlationid" type="xs:string"/>
				<xs:element name="ParentCorrelationid" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>